<div class="signup center-block jumbotron">
  <form role="form">
  <h1>Signupdsdasdsadas</h1>
  <a href="">Current User : {{user.username}} </a>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" ng-model="regCont.username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="regCont.password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="extra" ng-model="regCont.email " placeholder="Extra Information">
  </div>
  <button type="submit" class="btn btn-default" ng-click="regCont.registerUSer()">Submit</button>
</form>
</div>